rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Store data accessible for customer store & admin management
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
